{% extends "Yoga/base.html" %}
{% load bootstrap_tags %}
{% block content %}

    <div class="jumbotron text-center">
      <h1>Liverpool Yoga Collective</h1>
      <p>What you get when you register and receive one of our LYC cards for £75 per month</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Discount for retreats and events</h3>
          <p>You will get 10% off retreats and events held by our instructors or studios.</p>
        </div>
        <div class="col-sm-4">
          <h3>Private Classes</h3>
          <p>2 private classes with one of our associated instructors and 10% discount on future private classes.</p>
        </div>
        <div class="col-sm-4">
          <h3>Unlimited Class Card £75 per month</h3>
          <p>Unlimited access to all classes from all of our associated studios.</p>
        </div>
        <div class="col-sm-4">
          <h3>Associated Instructors and Studios</h3>
          <p>Studios in the LYC include Yoga Place, Yoga Studio, Yoga House, Gateacre Yoga Gym, Hot Fitness and Childwall Aerial Studios</p>
          <p>Yoga instructorsin the LYC include Kate Billington, Raymond Williams, Joyce Cross, John Smith, Mary Jones, Elizabeth Smith and Hannah Thomas.</p>
        </div>
      </div>
    </div>

{% endblock %}