{% extends "Yoga/base.html" %}
{% load bootstrap_tags %}
{% block content %}

    <div class="jumbotron text-center">
      <h1>Liverpool Yoga Collective</h1>
      <p>Timetable of this month's highlighted yoga classes, with different instructors showcasing different styles of yoga.</p>
    </div>

    <div class="container">
  <h2>Yoga Timetable</h2>
  <p>The classes listed below will be £4 for LYC card holders or £8 for non-card holders. Check the websites of the studios listed below for more offers.</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>7.30am</td>
        <td>Ashtanga with John Smith @ Yoga Place</td>
        <td>Yin Yoga with Mary Jones @ Yoga Studio</td>
        <td>Restorative Yoga with Elizabeth Smith @ Yoga House</td>
        <td>Yin Yoga with Angie Brown @ Yoga Place</td>
        <td>Ashtanga with John Smith @ Yoga Place</td>
        <td>Yin Yoga with Mary Jones @ Yoga Studio</td>
        <td>Hot Yoga with Kate Billington @ Hot Yoga House</td>
      </tr>
      <tr>
        <td>10am</td>
        <td>Hot Yoga with Kate Billington @ Hot Yoga House</td>
        <td>Iyengar with Raymond Williams @ Woolton Yoga Studio</td>
        <td>Vinyasa Flow with Joyce Cross @ Gateacre Yoga Gym</td>
        <td>Aerial Yoga with Hannah Thomas @ Childwall Aerial Studios</td>
        <td>Ashtanga with John Smith @ Yoga Place</td>
        <td>Aerial Yoga with Hannah Thomas @ Childwall Aerial Studios</td>
        <td>Ashtanga with John Smith @ Yoga Place</td>
      </tr>
      <tr>
        <td>12pm</td>
        <td>Ashtanga with John Smith @ Yoga Place</td>
        <td>Hot Yoga with Kate Billington @ Hot Yoga House</td>
        <td>Vinyasa Flow with Joyce Cross @ Gateacre Yoga Gym</td>
        <td>Ashtanga with John Smith @ Yoga Place</td>
        <td>Ashtanga with John Smith @ Yoga Place</td>
        <td>Iyengar with Raymond Williams @ Woolton Yoga Studio</td>
        <td>Hot Yoga with Mike Thompson @ Hot Fitness</td>
      </tr>
       <tr>
        <td>5pm</td>
        <td>Iyengar with Raymond Williams @ Woolton Yoga Studio</td>
        <td>Ashtanga with John Smith @ Yoga Place</td>
        <td>Hot Yoga with Mike Thompson @ Hot Fitness</td>
        <td>Vinyasa Flow with Joyce Cross @ Gateacre Yoga Gym</td>
        <td>Aerial Yoga with Hannah Thomas @ Childwall Aerial Studios</td>
        <td>Hot Yoga with Kate Billington @ Hot Yoga House</td>
        <td>Ashtanga with John Smith @ Yoga Place</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}